
* {
box-sizing: border-box;
}

ul {
list-style-type: none;
margin: 0;
padding-top: 2%;
padding-right: 4%;
padding-bottom: 2%;
overflow: hidden;
}

li {
font-family:Bebas Neue;
float: right;
color:white
}

li a {
display: block;
color: white;
text-align: center;
padding: 8px 14px;
text-decoration: none;
}

li a:hover {
color:#444444;
opacity:50%;
transition:0.2s ease-in;
cursor:pointer;
}

a {
display: block;
color: white;
text-decoration: none;

}

a:hover {
cursor:pointer;
}


.material-icons {
font-size:50px;
color:white;
display: inline-block;
margin-top: 15px
}

body {
background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('images/bg.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
margin:0;
}

.logo{
display: inline-block;
margin-left: 370px;
}

.call{
display: inline;
float :left
}

.phoneno{
font-size:120%;
}

.time{
font-size:80%;
color:#b6afac
}

#home{
text-align:center;
margin-top: 100px;
color:white
}

.shop-button {
background-color: transparent;
border: 2px solid white;
color: white;
padding: 10px 20px;
text-align: center;
display: inline-block;
font-size: 25px;
margin: 10px 30px;
cursor: pointer;
font-family: Bebas Neue;
width:20%;
margin-top: 50px;
margin-bottom: 100px;
transition:0.5s;
}

.shop-button:hover {
background-color: #8b0000;
color: white;
border: 2px solid #8b0000;
}

.summary {
font-family: Bebas Neue;
margin-right:5%;
height : 100%;
width: 25%;
color:white;
margin-bottom:10%;
margin-top:0.7%
}

.cart {
margin-left:5%;
margin-top:0.9%;
float:left;
height : 100%;
width: 60%;
color:white
}

.cart-button{
position:inline-block;
background-color:#8b0000; 
border-style: solid;
color: white;    
border:0px; 
padding: 10px;
cursor:pointer;
transition:0.5s;
width: 100%;
font-family: Bebas Neue;
font-size: 18px;
}


.cart-button:hover{
background-color:black;
color:white
}

#footer {                   
width: 100%;
background-color: #8b0000;
color: white;
font-family:Roboto Serif;
margin-top:20%;
overflow: auto;
}

th{
font-family:Bebas Neue;
font-size: 35px;
text-align:left;
}

td{
font-family:Roboto Serif;"
font-size: 10px;
}


hr {
height:1px;
background-color:white;
border-width:0;
}

h3 {
font-family:Bebas Neue;
font-size: 25px;
margin-bottom:0;
}

#detail{
display: inline-block;
float :left;
margin-left:5%;
}

#social{
display: inline-block;
float :right;
margin-right:5%;
margin-top:0%;
}

.row {
    display: flex;
	position:relative;
	text-align:center
}

.column {
    flex: 33.33%;
    padding: 7px;
}
  
.food-items{
    display: grid;
    position: relative;
    grid-template-column: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 2%;
	width: 90%;
	height:90%;
}


.food-items img{
    position: relative;
    width:100%;
	height:auto;
    border-radius: 15px 15px 0 0;
}

.menu{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
}

.heading{
    background-color: #cb202d;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 0px 0 20px 0;
    grid-column: 1/-1;
    text-align: center;

}
.heading>h1{
	font-family: Bebas Neue;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading>h2{
	font-family: Bebas Neue;
	font-size: 15px;
	letter-spacing: 3px;
}
.heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}

h4{
    color: white;
    font-size: 15px;
	padding:7px;
	text-align:center;
}

.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
    text-align: center;	
	color: white;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}

.price{
    text-align: center;
}

.container {
    margin: 5rem;
}

.container .header--text {
    text-align:left;
}
.container .header--text h2 {
    font-size: 3.5rem;
    font-weight: 100;
    letter-spacing: 1.2px;
    line-height: 1.5;
    color: white;
}
.container .header--text p {
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
}


.container #tabs ul li a:link,
.container #tabs ul li a:visited {
    font-size: 1.5rem;
    font-weight: 700;
}

#tabs {
width:100%;
height:auto;
}

#tabs .ui-tabs-nav {
	height: 3.35em;
	text-align: center;	
}

#tabs .ui-tabs-nav li {
	display: inline-block;
	float: none;
	top: 0px;
	margin: 0em;
	padding-bottom: 0px;
	}
